<ion-app>
  <ion-menu slot="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-menu-toggle *ngFor="let componente of components | async">
          <ion-item [routerLink]="componente.redirectTo"
            ><ion-icon
              [name]="componente.icon"
              slot="start"
              color="primary"
            ></ion-icon
            >{{ componente.name }}</ion-item
          >
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
