<app-header title="cards"></app-header>
<ion-content>
  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more,
      nothing less.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label>Marker</ion-label>
    </ion-item>

    <ion-card-content>
      This is an example of a card content. Ionic lessons!
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img
      src="https://w0.peakpx.com/wallpaper/261/667/HD-wallpaper-metal-gear-solid-peace-walker-beard-eyepatch-soldier-mercenaries-big-boss-army-bandana-guns-nice-cool-green-mgs-weapon-peace-walker-solid-snake.jpg"
    />
    <ion-card-content>
      This is an example of a card content. Ionic lessons!
    </ion-card-content>
  </ion-card>
</ion-content>
