<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first" color="primary"></ion-menu-button>
    </ion-buttons>

    <!-- <ion-buttons slot="start">
      <ion-button (click)="showMenu()" color="primary">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons> -->
    <ion-title color="primary">Home</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item
      *ngFor="let componente of components | async"
      [routerLink]="componente.redirectTo"
      ><ion-icon
        [name]="componente.icon"
        slot="start"
        color="primary"
      ></ion-icon
      >{{ componente.name }}</ion-item
    >
  </ion-list>

  <!-- <ion-button routerLink="/alert"> Alert </ion-button>

  <ion-button routerLink="/action-sheet"> Action Sheet </ion-button> -->
</ion-content>
